<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    2018-2019 Season {{ title }}
  </h1>
  <img width="300" alt="NBA Logo" src="assets/logo.png">
</div>
<h2>Here are started lineups of the teams: </h2>
<div>


  <ul>
    <li *ngFor="let player of players">
      <label (click)="selectPlayer(player)">{{player.name}} ({{player.position}})</label>
    </li>
  </ul>

</div>

<!--<div *ngIf="ff">-->
<!--  &lt;!&ndash; display selected contact &ndash;&gt;-->
<!--  <h3>Details for {{ff.name}} </h3>-->
<!--  <input type="text" [(ngModel)]="ff.Age">-->
<!--  <input type="text" [(ngModel)]="ff.Height">-->

<!--</div>-->
